body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
.maintxt{
    color :white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
.linkbetter{
    color:aquamarine;
    font-size: 16px;
    text-align: center;
}

.midtxth{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.midtxtp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color:gray;
}

.small{
    text-align: end;
    color:gray;
}